:root {
  --primary-color: #296ACC;
  --primary-color-rgb: 41, 106, 204;
  --secondary-color: #47ABFF;
  --secondary-color-rgb: 71, 171, 255;
  --tertiary-color: #F4F7FB;
  --tertiary-color-rgb: 244, 247, 251;
}