
* {
  --body-font: "Manrope", Helvetica, Arial, sans-serif;
  --body-font-size: 17px;
  --body-font-color: #505050;
  --body-font-color-dark: rgba(255, 255, 255, .6);
  --body-font-weight: 300;

  --heading-font: "Cormorant Garamond", Helvetica, Arial, sans-serif;  
  --heading-font-weight: 500;
  --heading-font-color: #223035;
  --heading-text-transform: none;

  --alt-font-1: "Cormorant Garamond";
  
  --h1-font-size: 64px;
  --h1-font-weight: var(--heading-font-weight);
  --h1-letter-spacing: 0;
  --h1-line-height: 1.2em;
  --h1-margin-bottom: 20px;

  --h2-font: var(--heading-font-weight);
  --h2-font-size: 52px;
  --h2-font-weight: var(--heading-font-weight);
  --h2-letter-spacing: 0;
  --h2-line-height: 1.2em;
  --h2-margin-bottom: 20px;

  --h3-font-size: 24px;
  --h3-font-weight: var(--heading-font-weight);
  --h3-letter-spacing: 0;
  --h3-line-height: 1.5em;
  --h3-margin-bottom: 10px;

  --h4-font-size: 20px;
  --h4-font-weight: var(--heading-font-weight);
  --h4-letter-spacing: 0;
  --h4-line-height: 1.6em;
  --h4-margin-bottom: 10px;

  --h5-font-size: 14px;
  --h5-font-weight: var(--heading-font-weight);
  --h5-letter-spacing: 0;
  --h5-line-height: 1.6em;
  --h5-margin-bottom: 10px;

  --mainmenu-font-size: 16px;
  --mainmenu-font-weight: 500;
  --mainmenu-letter-spacing: 0;
  --mainmenu-text-transform: none;

  --logo-width: 60px;

  --border-default: solid 1px rgba(30, 30, 30, 1);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-light: #F8F9FA;
  --bg-dark-1: #000000;
  --bg-dark-2: #111111;
  --bg-dark-3: #1e1e1e;  
  --bg-dark-1-rgb: 0, 0, 0;
  --bg-grey: #eeeeee;
  --bg-gradient-1: 0deg, rgba(var(--primary-color-rgb), .1) 0%, rgba(var(--secondary-color-rgb), .2) 100%;
  --swiper-theme-color: var(--secondary-color);
  --rounded-1: 6px;
  --button-rounded: 3px;
  --border-color:#bbbbbb;
  --container-max-width:1240px;
}
