:root {
  --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */

  --swiper-width: 60%;
  --swiper-inactive-scale: .85; /* makes the other slide smaller */
  
  /* responsive settings */
  --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: .95;
}

#swiper-carousel .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#swiper-carousel .swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#swiper-carousel .swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: .5;
  transform: scale(.84);
  transition: all .3s ease-in-out;
  overflow: hidden;
}

#swiper-carousel .swiper-backface-hidden .swiper-slide {
  transform: scale(.84) translateZ(0);
}

#swiper-carousel .swiper-slide.swiper-slide-active {  
  transform: scale(1) !important;
  opacity: 1 !important;
  margin: 0 30px !;
}

#swiper-carousel .swiper-slide .active-show{
  opacity: 0;
}

#swiper-carousel .swiper-slide.swiper-slide-active .active-show{
  opacity: 1;
}
   
#swiper-carousel .swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

#swiper-carousel .swiper-image {
  position: relative;
  width: 100%;
  padding-top: var(--swiper-image-ratio);
}
    
#swiper-carousel .swiper-image .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#swiper-carousel .swiper-button-next,
#swiper-carousel .swiper-button-prev {
  top: 35%;
  padding: 8px;
  width: 48px;
  height: 48px;
  margin-top: 0;
  background-color: none;
  border-radius: 50%;
  border: solid 1px #ffffff;
}

#swiper-carousel .swiper-button-next::after,
#swiper-carousel .swiper-button-prev::after {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

#swiper-carousel .swiper-button-next {
  transform: translate(50%, -50%);
  right: 10%;
}

#swiper-carousel .swiper-button-prev {
  transform: translate(-50%, -50%);
  left: 10%;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide {
  transform-style: none !;
}

@media only screen and (max-width: 768px) {
  #swiper-carousel .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }

  #swiper-carousel .swiper-slide {
    width: var(--swiper-mobile-width);
    transform: scale(var(--swiper-mobile-inactive-scale));
  }
  
  #swiper-carousel .swiper-backface-hidden .swiper-slide.swiper-slide {
    transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }

  #swiper-carousel .swiper-button-next {
    right: calc((100% - var(--swiper-mobile-width)) / 2);
  }

  #swiper-carousel .swiper-button-prev {
    left: calc((100% - var(--swiper-mobile-width)) / 2);
  }
}